@charset "UTF-8";

body{
    background-image:url("bg0");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

h3{
	margin-top:2rem !important;
	font-weight:900 !important;
}

.overlay{
	background-color:rgba(20,20,20,0.5);
	width:100%;
	margin:0; padding:0;
	display:block;
	min-height:100vh;
}

.sub{
	min-width:325px;
	width:100%;
	height:45vh;
	background-color:transparent;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 87%;
	transition: all .2s ease-in-out;
	padding:2rem 3.5rem;
}

#mainSplitContainer{
	width:60%;
	margin:6rem auto;
	display:grid;
	grid-template-columns:40% 10% 50%;
	background-color:rgba(255,255,255,0.9);
	border-radius:5rem;
	padding:4rem;
}

#login_button{
	margin-left:auto !important;
	margin-right:0 !important;
	display:block;
	font-weight: bold;
	background-color: rgb(33,33,33);
	transition: all .2s ease-in-out;
}

.dummy{
	display:none;
}

#login_button:hover{
	padding-left: 2.2rem;
	padding-right: 2.2rem;
}

.input-field input[type=text]:focus + label {
	color: #000 !important;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
	border-bottom: 1px solid #000 !important;
	box-shadow: 0 1px 0 0 #000 !important;
  }

  .input-field input[type=password]:focus + label {
	color: #000 !important;
}
/* label underline focus color */
  .input-field input[type=password]:focus {
	border-bottom: 1px solid #000 !important;
	box-shadow: 0 1px 0 0 #000 !important;
  }